<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="dist/angular-leaflet-directive.min.js"></script>
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <script>
        var app = angular.module("demoapp", ["leaflet-directive"]);
        app.controller('BasicMapWithoutAnimationsController', [ '$scope', "$http", "$timeout", "$interval", "leafletBoundsHelpers", function($scope, $http, $timeout, $interval, leafletBoundsHelpers) {
        	$scope.devices = {};
        	$scope.selectedDevice = null;
        	$scope.requestTimeout = 5000;
        	$scope.pointAmount = 1;
        	$scope.trackCentered = false;
        	
            angular.extend($scope, {
            	center: {zoom: 14},
            	bounds: {},
                defaults: {
                    zoomAnimation: true,
                    markerZoomAnimation: true,
                    fadeAnimation: true
                },
                markers: []
            });
            
            $scope.changeDevice = function changeDevice(){
            	$scope.trackCentered = false;
            	$scope.loadTracks();
            }
            
            
            $scope.loadDevice = function loadTracks() {
                $http.get('http://localhost:8080/justtrackme-rest/devices').success(function(data) {
                    $scope.devices = data.entities;
                });
            };
            
            $scope.loadTracks = function loadTracks() {
            	if($scope.selectedDevice){
                $http.get('http://localhost:8080/justtrackme-rest/devices/'+ $scope.selectedDevice.uniqueId + '/positions?limit=' + $scope.pointAmount+ '&timestamp='+ new Date().getTime()).success(function(data) {
                    $scope.markers = [];
                    
                	angular.forEach(data.entities, function(location, key){
                		if(!$scope.trackCentered){
                			$scope.center = {lat: location.latitude, lng: location.longitude, zoom: 14};
                			$scope.trackCentered = true;
                		}
                		
                		$scope.markers[location.id] = {lat: location.latitude, lng: location.longitude};
                    });
                });
            		
            	}
            };
            
            
            $timeout(function(){
            	$scope.loadDevice();
            });
            
            $timeout(function(){
            	$scope.loadTracks();
            });
            
            $interval( function(){ $scope.loadTracks(); }, $scope.requestTimeout);
            
        } ]);
    </script>
  </head>
  <body ng-controller="BasicMapWithoutAnimationsController">
  <label for="device">Device:</label>
  <select ng-options="item as item.name for item in devices" ng-model="selectedDevice" ng-change="changeDevice()"></select>
  <label for="pointAmount">History:</label>
	<select ng-model="pointAmount" ng-change="loadTracks()">
		<option value="1">Latest</option>
		<option value="5">5</option>
		<option value="10">10</option>
	</select>
	<leaflet bounds="bounds" center="center" defaults="defaults" markers="markers" width="100%" height="600"></leaflet> 
  </body>
</html>
